@media screen and (max-width: 720px) {
	header {
        height: 12vh !important;
        justify-content: center !important;
    }
	
    div.gfimg__container {
        max-width: 66.66vw !important;
        gap: .375rem !important;
    }    
	
	div.bhimg__container {
        max-width: 0px !important;
        gap: .375rem !important;
    }
	
	div.landing {
		font-size: 2vw;
	}
	
	footer {
		font-size: 2vw !important;
	}
	
	footer br {
		display: block !important;
	}

	div.panels img.CornerPanelL {
		max-height: 50% !important;
	}

	div.panels img.CornerPanelR {
		max-height: 30% !important;
	}
	
	img.Geg {
		max-height: 100%;
		height: auto;
		position: fixed;
		margin-left: -50vh;
		margin-top: -6vh;
	}
	
	#contents {
		height: 80% !important;
	}
	
	#home {
		flex-direction: column !important;
	}
	
	#homeplayer {
		align-items: center;
		text-align: center !important;
		float: none !important;
		margin-left: 0px !important;
		margin-bottom: 15px !important;
	}
	
	#findus {
		font-size: 15px !important;
	}
	
	#logos {
		justify-content: center !important;	
	}

	img.logos {
		height: 20px !important;		
	}
	
	#watch {
		display: block !important;
		height: 100% !important;	
	}	
	
	#carousels {
		display: block !important;
		max-height: 960px !important;
	}
	
	.carouselcontainer {
		display: block !important;
		max-height: 360px !important;
		aspect-ratio: 1/1 !important;
	}
	
	.cards {
		height: 100% !important;	
	}
		
	#splash {
		display: none;
		padding-top: 20vh;
	}

	#navigation {
		font-size: 40%;
	}
}

@media screen and (max-height: 480px) {
	div.gfimg__container {
        padding-left: 30px !important;
    }    
	
	div.bhimg__container {
        padding-right: 50px !important;
    }
	
	#navigation {
		font-size: 50% !important;
	}
	
	#contents {
		height: 70% !important;
	}
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(45, 50, 112, .75);
    align-items: center;
    padding: 0%;
    height: 0vh;
	max-height: 0vh;
	transition: 0.5s;
	position: fixed;
	width: 100%;
	z-index: -1;
}

div.panels img.CornerPanelL {
	z-index: -1;
}

div.panels img.CornerPanelL {
	max-height: 80%;
	height: auto;
	z-index: -1;
	position: fixed;
	filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.7));
}

div.panels img.CornerPanelR {
	max-height: 60%;
	height: auto;
	z-index: -1;
	position: fixed;
	right: 0px;
	bottom: 0px;
	filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.2));
}

div.gfimg__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    height: 100%;
    width: 100%;
    max-width: 33.33vw;
	cursor: pointer;
	filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.2));
}

div.gfimg__container img {
    max-height: 100%;
    max-width: 50%;
}

div.gfimg__container img.gflogo {
    max-width: 33.33%;
}

div.gfimg__container img.gftext {
    max-width: 66.66%;
    margin-top: 6%;
}

div.bhimg__container {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: .625rem;
    height: 100%;
    width: 100%;
    max-width: 33.33vw;
}

div.bhimg__container img {
    max-height: 100%;
    max-width: 50%;
	cursor: pointer;
	filter: drop-shadow(-3px 3px 5px rgba(0, 0, 0, 0.2));
}

div.bhimg__container img.bhlogo {
    max-width: 70%;
}

div.landing {
	display: flex;
	flex-direction: column;
	object-fit: contain;
	align-items: center;
    justify-content: center;
}

div.landing img.splashlogo {
	padding-top: 50px;
	min-width: 25vw;
	max-width: 250px;
}

div.landing img.splashtext {
	min-width: 25vw;
	max-width: 250px;
}

div.landing h1,
div.landing h2,
span.bodytext h1,
span.bodytext h2,
span.bodytext h3,
span.bodytext h4 {
	text-shadow: -3px 3px 0px rgb(0, 0, 0);
	filter: drop-shadow(-1px 1px 10px rgba(0, 0, 0, 0.2));
}

span.bodytext b {
	text-shadow: -2px 2px 0px rgb(0, 0, 0);
	filter: drop-shadow(-1px 1px 10px rgba(0, 0, 0, 0.2));
}

span.bodytext a {
    color: lightgray;
}

span.bodytext a:hover {
    color: WhiteSmoke;
}

span.bodytext a:active {
    color: darkgray;
}

div.wip {
	display: flex;	
	flex-direction: column;
	object-fit: contain;
	align-items: center;
	text-align: center;
	filter: drop-shadow(-1px 1px 10px rgba(0, 0, 0, 0.3));
}

div.wip img {
	max-height: 90%;
	height: auto;
}

img.Geg {
	max-height: 75%;
	height: auto;
	z-index: -1000;
	position: fixed;
	left: 0vh;
	top: 25vh;
	opacity: 0.5;
}

body {
    background-image: url("../img/Background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0rem;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
}

main {
    margin: auto;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
	font-size: 20px;
}

header h2 a,
main h1,
main h2,
main h3,
main h1 a,
main h2 a,
main h2 span,
main h3 a,
main h3 em {
    font-family: 'Orbitron';
	color: white;
	margin: 0em;
}

hr {
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    max-width: 500px;
    border: 1px solid white;
    box-shadow: -2.5px 2.5px 0px rgb(0, 0, 0);
}

div.center {
    text-align: center;
}

a {
    color: whitesmoke;
    font-weight: bolder;
    text-decoration: none;
    transition: all .2s ease-in-out;
}

a:hover {
    color: lightgray;
}

a:active {
    color: darkgray;
}

body .zoom {
    display: flex;
    opacity: 0%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.875);
    z-index: 20;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: none;
}

.zoom p {
    font-family: "Gill Sans Std", Helvetica Now, Helvetica, Arial, sans-serif;
    margin: 0.25em;
    padding: 0.25em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1875em;
    box-shadow: 0em 0em 0.25em 0.25em rgba(0, 0, 0, 0);
}

.zoom img {
    max-height: 90vh;
    max-width: 90vw;
    border-radius: 0.25em;
    margin: 0.5em;
}

span.exitSpan {
    position: absolute;
    top: 1em;
    right: 3em;
    max-width: 1em;
    max-height: 1em;
    font-size: 2em;
    line-height: 1em;
    border-radius: 50%;
    cursor: pointer;
    color: whitesmoke;
    transition: all 0.2s ease-in-out;
    opacity: 0.75;
}

span.exitSpan:hover {
    color: lightgray;
    transform: scale(1.03125);
}

span.exitSpan:active {
    color: darkgray;
    transform: scale(0.9875);
}

footer {
	display: flex; 
	align-items: center; 
	text-align: center;
	justify-content: center; 
	color: white;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	background-color: white;
	color: black;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

footer a {
    color: dimgray;
}

footer a:hover {
    color: darkgray;
}

footer a:active {
    color: lightgray;
}

footer br {
	display: none;
}

#preheader {
	display: flex;
}

#overlays {
	display: flex;
}

#bh-logo,
#mod-logo {
    position: fixed;
	z-index: 100;
}

#bh-logo:hover,
#bh-logo:active,
#mod-logo:hover,
#mod-logo:active {
    cursor: pointer;
    filter: brightness(.75);
}

#bh-logo {
    top: 0;
    left: 0;
}

#mod-logo {
    top: 0;
    right: 0;
}

#navigation {
	display: flex;
	color: black;
	text-align: center;
	justify-content: center;
	background-color: white;
	box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.5);
	transition: ease-in-out all 0.5s;
	position: absolute;
	width: 100%;
	height: auto;
	top: 100%;
	left: 0%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#navigation a,
#navigation h2 {
	padding-right: 2.5vw;
	padding-left: 2.5vw;	
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
}

#navigation a:hover {
    color: darkgray;
}

#navigation a:active {
    color: lightgray;
}

#navtext {
	font-size: 0%;
}

#contents {
	display: flex;
	position: fixed;
	width: 100vw;
	bottom: 3vh;
	transition: ease-in-out all 0.5s;
	z-index: -1;
	overflow: hidden;
}

#splash {
	display: none;
	opacity: 0;
	transition: ease-in-out all 0.5s;
	margin: 0em;
}

#home {
	display: none;
	width: 100vw;
	min-width: 100vw;
	text-align: left;
    flex-direction: row;
	opacity: 0;
	transition: ease-in-out all 0.5s;
}

#backstory {
	padding: 30px;
	line-height: 30px;
	text-align: justify;
}

#homeplayer {
	float: right;
	margin-left: 50px;
	margin-bottom: 20px;
	filter: drop-shadow(-3px 3px 0px rgba(0, 0, 0, 1));
}

#findus {
	font-family: 'Orbitron';
	font-size: 30px;
	color: white;
	margin-right: 0.5em;
}

#logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
	margin-top: 0.5em;
}

img.logos {
	display: flex;
	flex-direction: row;
	width: auto;
	height: 30px;
	padding: 5px;
	cursor: pointer;
}

#about {
	display: none;
	opacity: 0;
	object-fit: contain;
    justify-content: center;
	width: 0%;
	transition: ease-in-out all 0.5s;
}

#watch {
	display: none;
	width: 100vw;
	min-width: 100vw;
	text-align: center;
	justify-content: center;
    flex-direction: column;
	opacity: 0;
	transition: ease-in-out all 0.5s;
}

#read {
	display: none;
	opacity: 0;
	object-fit: contain;
    justify-content: center;
	width: 0%;
	transition: ease-in-out all 0.5s;
}

#contact {
	display: none;
	opacity: 0;
	object-fit: contain;
    justify-content: center;
	width: 0%;
	transition: ease-in-out all 0.5s;
}

div.container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}

iframe.responsive-iframe {
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 75%;
    border: none;
}

iframe.embedframeyt {
	border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
	pointer-events: none;
}

iframe.embedframespot {
	border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
	padding-top: 20px;
	pointer-events: none;
}

iframe.embedframeslr {
	border-radius: 12px;
    position: relative;
	max-width: 100%;
    width: 496px;
    height: 100px;
}

#bottomtext {
	display: block;
	position: relative;
}

input[type=radio] {
  display: none;
}

#carousels {
	display: flex;
	flex-direction: row;
	height: 100%;
	max-height: 480px;
	width: 100%;
	justify-content: center;
}

.carouselcontainer {
	width: 100%;
	max-height: 480px;
	max-width: 800px;
	transform-style: preserve-3d;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	filter: drop-shadow(-3px 3px 0px rgba(0, 0, 0, 1));
}

.card {
	position: absolute;
	width: 60%;
	height: auto;
	left: 0;
	right: 0;
	margin: auto;
	transition: transform .4s ease;
	cursor: pointer;
}

.cards {
	display: flex;
	position: relative;
	width: 100%;
	max-height: 100%;
	margin-bottom: 20px;
}

#item-1:checked ~ .cards #series-3, 
#item-2:checked ~ .cards #series-1, 
#item-3:checked ~ .cards #series-2 {
	transform: translatex(-40%) translatey(-2%) scale(.7);
	opacity: .4;
	z-index: 0;
}

#item-1:checked ~ .cards #series-2, 
#item-2:checked ~ .cards #series-3, 
#item-3:checked ~ .cards #series-1 {
	transform: translatex(40%) translatey(-2%) scale(.7);
	opacity: .4;
	z-index: 0;
}

#item-1:checked ~ .cards #series-1, 
#item-2:checked ~ .cards #series-2, 
#item-3:checked ~ .cards #series-3 {
	transform: translatex(0) scale(1);
	opacity: 1;
	z-index: 1;
	iframe.embedframeyt {
		pointer-events: auto;
	}
	iframe.embedframespot {
		pointer-events: auto;
	}
}

#item-4:checked ~ .cards #series-6, 
#item-5:checked ~ .cards #series-4, 
#item-6:checked ~ .cards #series-5 {
	transform: translatex(-40%) translatey(-2%) scale(.7);
	opacity: .4;
	z-index: 0;
}

#item-4:checked ~ .cards #series-5, 
#item-5:checked ~ .cards #series-6, 
#item-6:checked ~ .cards #series-4 {
	transform: translatex(40%) translatey(-2%) scale(.7);
	opacity: .4;
	z-index: 0;
}

#item-4:checked ~ .cards #series-4, 
#item-5:checked ~ .cards #series-5, 
#item-6:checked ~ .cards #series-6 {
	transform: translatex(0) scale(1);
	opacity: 1;
	z-index: 1;
	iframe.embedframeyt {
		pointer-events: auto;
	}
	iframe.embedframespot {
		pointer-events: auto;
	}
}