/********** FONTS **********/
@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron-Bold.woff2') format('woff2'), url('../fonts/Orbitron-Bold.woff') format('woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Gill Sans Std';
    src: url('../fonts/GillSansStd-Light.woff2') format('woff2'), url('../fonts/GillSansStd-Light.woff') format('woff');
}

.Orbitron {
    font-family: 'Orbitron', Helvetica Now, Helvetica, Arial, sans-serif;
}

/************** END FONTS **************/
/************** UNIVERSAL **************/
* {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 255, 255) rgb(45, 50, 112);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: rgb(45, 50, 112);
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 3px solid rgb(45, 50, 112);
}

* {
    font-family: 'Gill Sans Std', Helvetica Now, Helvetica, Arial, sans-serif;
}